<p>
    weather works!
</p>
<h2>Yahoo! Weather</h2>
<div class="col-md-8 col-md-offset-2">
    <div class="form-group">
        <input type="text" [(ngModel)]="id_city" class="form-control" placeholder="Enter city name..">
        <input type="text" [(ngModel)]="id_state" class="form-control" placeholder="Enter state">
        <button type="button" class="btn btn-primary" (click)="callWeatherService()">Submit</button>
        <br><br><br>
        <br>
        <p class="well lead"><i>City, State, Country :</i> {{ this.op_city }} {{ this.op_region }} {{ this.op_country }}
            <br>
            <i>Current Condition :</i> {{ this.op_text }} <br>
            <i>Current Temperature :</i> {{ this.op_temp }} <br>
        </p>
        <p class="text-info">Total # of all the service reqs is :
            <span class="badge">{{this._sharedService.totReqsMade}}</span>
        </p>
    </div>
</div>
